.albums-modal {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  position: relative;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  background: white;
  width: 70%;
  height: 80%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  .albums-modal-header {
    border-bottom: 1px solid lightgrey;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    color: #3f51b5;
  }

  .albums-modal-content {
    .albums-modal-textfield-wrapper {
      margin-top: 15px;
      display: inline-flex;
      width: 100%;
      justify-content: center;
    }
    .file-upload-wrapper {
      display: inline-flex;
      width: 100%;
      margin-top: 30px;

      .file-input-wrapper {
        width: 50%;

        .drag-and-drop-zone {
          width: 80%;
          height: 300px;
          background: lightgrey;
          margin-left: 10%;
          margin-right: 10%;
          border: 2px dashed darkgrey;
          border-radius: 3px;

          .drag-and-drop-text-wrapper {
            margin-top: 60px;
            .drag-and-drop-text {

            }

            .drag-and-drop-or {
              margin-top: 30px;
              margin-bottom: 30px;
            }

            .file-select-wrapper {
              margin-top: 10px;
              .file-input {
                visibility: hidden;
                position: absolute;
              }

              .file-input-label {
                background: darkgrey;
                padding: 5px;
                border-radius: 4px;
                cursor: pointer;
              }
            }
          }
        }
      }
      .file-list-wrapper {
        width: 50%;

        .file-list-header {
          display: inline-flex;
          width: 100%;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid lightgrey;
          justify-content: center;
          margin-right: 10px;
          .file-list-num-files {
            margin-right: 5px;
          }

          .file-list-header-text {

          }
        }
      }
    }
  }

  .albums-modal-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    height: 60px;
    padding-top: 20px;
    border-top: 1px solid lightgrey;

    .albums-modal-cancel-wrapper {
      position: relative;
      width: 15%;
      margin-left: 5%;
      margin-right: 30%;

      .albums-modal-cancel-button {
        cursor: pointer;
        background: lightgrey;
        padding: 10px;
        border-radius: 3px;

        &:hover {
          background: #adbfba;
        }
      }
    }

    .albums-modal-create-wrapper {
      position: relative;
      width: 15%;
      margin-left: 30%;
      margin-right: 5%;

      .albums-modal-create-button {
        cursor: pointer;
        background: #5bff89;
        padding: 10px;
        border-radius: 3px;

        &:hover {
          background: #42d06a;
        }
      }
    }
  }
}
