.albums-row {
  display: inline-flex;
  width: 100%;
  margin-left: 25%;

  .album-card-container {
    margin-bottom: 60px;
    width: 25%;

    .album-card {
      margin-left: 20px;
      margin-right: 20px;
      cursor: pointer;
      border-radius: 3px;
      font-size: 15px;
      word-wrap: break-word;
      &:hover {
        background: lightgrey;
      }

      i {
        font-size: 100px;
        color: #40e0d0;
      }
    }
  }
}
