.albums-modal {
  .albums-modal-header {
    border-bottom: 1px solid lightgrey;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    color: #3f51b5;
  }

  .albums-modal-form {
    margin-top: 50px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    color: lightgrey;

    .album-name-input {
      margin-top: 50px;
      margin-bottom: 30px;

      .album-name-input-field {
        font-size: 20px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid lightgrey;
        padding-right: 10px;

        &:focus {
          outline: none;
        }
      }
    }

    .album-submit {
      margin-top: 100px;

      .album-submit-button {
        border-radius: 3px;
        background: #3f51b5;
        height: 30px;
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
        padding-top: 5px;
        font-size: 20px;
        cursor: pointer;

        &.clicked {
          background: #6c79c1;
        }
      }
    }
  }
}
