.basenav-container {
	color: grey;
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
	border-bottom: 1px solid lightgrey;
	padding-left: 100px;
	padding-right: 100px;

	.leftnav-container {
		display: inline-flex;
		width: 400px;
		height: 40px;

		.pics-tab, .songs-tab {
			width: 50%;
			text-align: center;
			font-size: 25px;
			&:hover {
				border-radius: 5px;
				background: lightgrey;
				&:after {
					border-color: lightgrey transparent transparent transparent;
				}
			}
			cursor: pointer;
		}

		.pics-tab {
			position: relative;
			text-align: center;

			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				top: 100%;
				width: 0;
				height: 0;
				border-style: solid;
			}

			&:after {
				left: 42%;
				border-color: white transparent transparent transparent;
				border-width: 10px;
			}

			&:before {
				left: 41%;
				border-color: lightgrey transparent transparent transparent;
				border-width: 12px;
			}
		}

		.songs-tab {
			position: relative;
			text-align: center;

			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				top: 100%;
				width: 0;
				height: 0;
				border-style: solid;
			}

			&:after {
				left: 42%;
				border-color: white transparent transparent transparent;
				border-width: 10px;
			}

			&:before {
				left: 41%;
				border-color: lightgrey transparent transparent transparent;
				border-width: 12px;
			}
		}


	}
}