.basenav-container {
	color: grey;
	border-bottom: 1px solid lightgrey;
	padding-left: 100px;
	padding-right: 100px;
	background: lightgrey;
	border-radius: 3px;

	.leftnav-container {
		display: inline-flex;
		width: 400px;
		height: 60px;

		.pics-tab, .songs-tab {
			position: relative;
			width: 50%;
			padding-top: 10px;
			text-align: center;
			font-size: 25px;
			font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;			
			&:hover {
				border-radius: 5px;
				background: #9494a2;
			}
			cursor: pointer;
			&.selected {
				color: #3F51B5;
				&:before, &:after {
					content: '';
					display: block;
					position: absolute;
					bottom: -2%;
					width: 0;
					height: 0;
					border-style: solid;
				}

				&:after {
					left: 45%;
					border-color: transparent transparent white transparent;
					border-width: 10px;
				}

				&:before {
					left: 44%;
					border-color: transparent transparent lightgrey transparent;
					border-width: 12px;
				}
			}
		}
	}
}