.file-upload-wrapper {
  display: inline-flex;
  width: 100%;
  margin-top: 30px;

  .file-input-wrapper {
    width: 50%;

    .drag-and-drop-zone {
      width: 80%;
      height: 300px;
      background: lightgrey;
      margin-left: 10%;
      margin-right: 10%;
      border: 2px dashed rgba(91, 255, 137, .51);
      border-radius: 3px;

      .drag-and-drop-text-wrapper {
        margin-top: 60px;
        .drag-and-drop-text {
          color: rgba(0, 0, 0, .37);
        }

        .drag-and-drop-or {
          margin-top: 30px;
          margin-bottom: 30px;
          color: rgba(0, 0, 0, .37);
        }

        .file-select-wrapper {
          margin-top: 10px;
          .file-input {
            visibility: hidden;
            position: absolute;
          }

          .file-input-label {
            background: rgba(63, 81, 181, 0.57);
            padding: 7px;
            border-radius: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .file-list-wrapper {
    width: 50%;

    .file-list-header {
      display: inline-flex;
      width: 80%;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid lightgrey;
      justify-content: center;
      .file-list-num-files {
        margin-right: 5px;
      }

      .file-list-header-text {

      }
    }

    .file-list {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      height: 230px;
      overflow-y: auto;
      .file-list-entry {
        position: relative;
        width: 100%;
        display: inline-flex;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #a9b6ff3b;
        .file-list-entry-filename {
          width: 60%;
          font-size: 13px;
        }

        .file-list-entry-delete {
          color: #da5151;
          font-size: 25px;
          position: absolute;
          right: 30px;
          cursor: pointer;

          &:hover {
            color: #e0a9a9;
          }
        }
      }
    }
    .file-list-remove-all {
      display: inline-flex;
      margin-top: 20px;
      padding: 5px;
      width: 40%;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: #d9d3ec61;
      }

      .file-list-remove-all-text {
        padding-top: 3px;
      }

      .remove-all-delete-icon {
        color: #da5151;
        font-size: 25px;
        margin-left: 5px;
      }
    }
  }
}
