.pics-container {
	padding-top: 30px;
	font-size: 35px;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

	.buttons-container {
		display: inline-flex;
		width: 20%;
		float: right;

		.file-upload-button {
			width: 50%;
			font-size: 20px;
			border: 1px solid black;
			border-radius: 3px; 
			
			&:hover {
				background: lightgrey;
				cursor: pointer;
			}
		}
		.add-album-button {
			width: 50%;
			font-size: 20px;
			border: 1px solid black;
			border-radius: 3px; 
			
			&:hover {
				background: lightgrey;
				cursor: pointer;
			}
		}
	}

	.pics-header-text {
		margin-top: 40px;
	}
}