.pics-container {
  font-size: 35px;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

  .pics-header {
    border-bottom: 1px solid lightgrey;
    padding: 30px;
    .buttons-container {
      display: inline-flex;
      width: 100%;
      float: right;

      .buttons {
        display: inline-flex;
        width: 40%;
        padding-left: 60%;
      }

      .file-upload-button {
        background: lightgrey;
        margin-right: 10px;
        padding: 5px;
        width: 50%;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 3px;

        &:hover {
          background: lightgrey;
          cursor: pointer;
        }
      }
      .add-album-button {
        background: lightgrey;
        margin-right: 10px;
        padding: 5px;
        width: 50%;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 3px;

        &:hover {
          background: lightgrey;
          cursor: pointer;
        }
      }
    }

    .pics-header-text {
      display: inline-flex;
      margin-top: 15px;
      width: 100%;
      width: 30%;
      padding-left: 35%;
      padding-right: 35%;
    }

    .albums-header-text {
      display: inline-flex;
      margin-top: 15px;
      width: 100%;
    }
  }

  .pics-content {
    padding-top: 50px;
    min-height: 300px;
  }
}
