.pics-modal {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  background: white;
  width: 50%;
  height: 60%;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  .refresh-warning {
    margin-top: 40px;
  }
  .loading-spinner {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;

    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  .pics-modal-header {
    border-bottom: 1px solid lightgrey;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    color: #3f51b5;
  }
  .pics-modal-content {
    margin-top: 40px;

    .upload-file {
      display: none;
    }

    .file-upload-button-label {
      margin-top: 5px;
      padding: 5px;
      border: 1px solid lightgrey;
      border-radius: 3px;

      &:hover {
        background: lightgrey;
        cursor: pointer;
      }
    }

    .pics-drag-and-drop {
      margin-top: 20px;
    }

    .pics-modal-submit {
      margin-top: 30px;
      border: 1px solid lightgrey;
      width: 15%;
      margin-left: 42.5%;
      margin-right: 42.5%;
      padding: 3px;
      border-radius: 3px;

      &:hover {
        background: lightgrey;
      }
    }
  }
}
