.pics-slideshow {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;

  h1 {
    text-align: center;
  }

  .left-arrow-wrapper {
    width: 10%;
  }
  .image-wrapper {
    width: 70%;
  }
  .right-arrow-wrapper {
    width: 10%;
  }
  .right-section-wrapper {
    width: 10%;
  }

}
